@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* animated background */
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #191716;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 9s linear infinite;
  }

  .background li:nth-child(0) {
    left: 68%;
    width: 95px;
    height: 95px;
    bottom: -95px;
    animation-delay: 1s;
  }

  .background li:nth-child(1) {
    left: 15%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 4s;
  }

  .background li:nth-child(2) {
    left: 58%;
    width: 89px;
    height: 89px;
    bottom: -89px;
    animation-delay: 5s;
  }

  .background li:nth-child(3) {
    left: 48%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 7s;
  }

  .background li:nth-child(4) {
    left: 24%;
    width: 70px;
    height: 70px;
    bottom: -70px;
    animation-delay: 10s;
  }

  .background li:nth-child(5) {
    left: 44%;
    width: 89px;
    height: 89px;
    bottom: -89px;
    animation-delay: 15s;
  }

  .background li:nth-child(6) {
    left: 75%;
    width: 98px;
    height: 98px;
    bottom: -98px;
    animation-delay: 4s;
  }

  .background li:nth-child(7) {
    left: 18%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 21s;
  }

  .background li:nth-child(8) {
    left: 12%;
    width: 94px;
    height: 94px;
    bottom: -94px;
    animation-delay: 30s;
  }

  .background li:nth-child(9) {
    left: 75%;
    width: 91px;
    height: 91px;
    bottom: -91px;
    animation-delay: 30s;
  }

  .background li:nth-child(10) {
    left: 28%;
    width: 85px;
    height: 85px;
    bottom: -85px;
    animation-delay: 38s;
  }

  .background li:nth-child(11) {
    left: 73%;
    width: 99px;
    height: 99px;
    bottom: -99px;
    animation-delay: 13s;
  }

  .background li:nth-child(12) {
    left: 79%;
    width: 97px;
    height: 97px;
    bottom: -97px;
    animation-delay: 17s;
  }

  .background li:nth-child(13) {
    left: 61%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 46s;
  }

  .background li:nth-child(14) {
    left: 52%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 59s;
  }

  .background li:nth-child(15) {
    left: 21%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 58s;
  }

  .background li:nth-child(16) {
    left: 46%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 60s;
  }

  .background li:nth-child(17) {
    left: 68%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 52s;
  }

  .background li:nth-child(18) {
    left: 32%;
    width: 89px;
    height: 89px;
    bottom: -89px;
    animation-delay: 35s;
  }

  .background li:nth-child(19) {
    left: 19%;
    width: 80px;
    height: 80px;
    bottom: -80px;
    animation-delay: 27s;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  ::-webkit-scrollbar-track {
    background-color: #eee;
  }
}
